body {
    background-image: url("../image/artist/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;

}

.main{
    height: 1000px;
    width: 100%;
}
.main{
    height: 1366px;
    width: 100%;
}
#left-menu {
    width: 250px;
    height: calc(100%);
    position: absolute;
    z-index: 999;
}
.main-menu {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.9);
    width: 100%;
}
.main-menu .navbar-header {
    height: 350px;
    display: block;
    width: 100%;
    text-align: center;
}

.vertical-nav {
    padding: 0;
    clear: both;
}
.vertical-nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    height: 310px;
}

.vertical-nav ul li {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
}
.vertical-nav ul li a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 8px 10px 40px;
    font-weight: 200;
    display: block;
    width: 240px;
    color: #d0d0d0;
    font-family: Montserrat,serif;
}
.vertical-nav ul li a:hover {
    background: #F88A0C;
}
.vertical-nav .dropdown {
    position: absolute;
    left:250px;
    height: 160px;
    top:0;
    display: none;
    background-color: rgba(13, 9, 9, 0.91);
    z-index: 1;

}
.vertical-nav ul li:hover .dropdown {
    display:block;
}
.vertical-nav .sub-menu {
    position: absolute;
    left:250px;
    height: 80px;
    top:0;
    display: none;
    background-color: #0D0909;
    opacity: 0.9;
    z-index: 1;
}
.vertical-nav ul li:hover .sub-menu {
    display:block;
}
.footer-bottom {
    bottom: 0;
    position:inherit;
    width: 100%;
    padding: 0 10px;
}
.footer-bottom input {
    background: rgba(91, 91, 91, 0.56);
    border: 0;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.fa {
    padding: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: transparent;
    color: white;
}
.fa-youtube {
    background: transparent;
    color: white;
}
.fa-instagram {
    background: transparent;
    color: white;
}
.footer-bottom p {
    color: #727272;
    font-size: 15px;
    text-align: center;
}
/*Stylesheet main artists*/
#page-content {
    position: absolute;
    width: 75vw;
    top: 0;
    left: 0;
    margin-left: 250px;
    flex: 0 1 5000px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.speakers {
    overflow: hidden;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.overlay {
    padding: 110px 0;
    background-color: rgba(0, 0, 0, .6);
    display: block;
    min-height: 100vh;
}
.overlay {
    padding: 40px 30px;
    height: 910px;
}
.section-header {
    text-align: center;
}
.speakers .section-header h3 {
    color: #fff;
    line-height: 1.5;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}
.speaker .speakers-items {
    margin: -7px;
    overflow: hidden;
    box-sizing: inherit;
}
.speakers-items {
    height: 730.88px;
}
.speaker-item {
    width: calc(100%/4 - 1px);
    float: left;
    padding: 7px;
    margin: 0;
    margin-bottom: 30px;
    overflow: hidden;
}
.speakers .speakers-image {
    position: relative;
    overflow: hidden;
    display: block;
}
.speakers-image img {
    width: 100%;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
}
.speakers-bg .content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    text-align: center;
    padding: 10px;
}
.speaker-bg {
    position: absolute;
    top: 50%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.speakers-image:hover image {
    opacity: 0.5;
}
.speakers-image:hover .speaker-bg {
    opacity: 1.5;
}
.speaker-bg image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.speaker-info {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #92278f;
    opacity: 0.9;
}
.h4 {
    font-size: 20px;
    clear: both;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
}
.speakers .content span {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.speaker-social {
    margin: 0;
    list-style: disc;
    padding: 0;
}
.speakers .speaker-item .speaker-social {
    margin: 0px;
}
.speakers-five .speaker-item .speaker-social ul{
    list-style: disc;
    padding: 0;
}
#clock-div {
    position: absolute;
    left: 270px;
    top: 10px;
    padding: 4px;
    border-radius: 6px;
    background: rgba(22, 22, 22, 0.6);
    display: block;
}
.clock-item {
    display: inline-block;
    color: #fff;
    margin-right: 0;
}
.clock-item span.smalltext {
    font-weight: 400;
    margin-left: -3px;
    margin-right: 3px;
    text-transform: lowercase;
}
/*Stylesheet artist item*/
.bodypage {
    margin: 15px;
    height: 300px;
    width: 78%;
    float: right;
}
.content {
    margin: 15px;
    font-weight: 100;
}
.nameArtist{
    font-size:2.5em;
    color: olivedrab;
    margin-top: 10%;
}
.text{
    color: white;
    text-align: justify;
    text-indent: 10%;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 100;
}
.text1 {
    color: gold;
    font-size: 2em;
}
.pictureArtist{
    margin-top: 12%;
}